Repository Tezzmo/PDS_Project, pull requests merged in 2020-06, with the labels that each got.

#28 Prediction
  .gitignore
  nextbike/__init__.py
  nextbike/io/input.py
  nextbike/io/output.py
  nextbike/operation/__init__.py
  nextbike/operation/oneFileToRuleThemAll.py
  nextbike/postalCodes/createPostalCodeMaps.py
  nextbike/postalCodes/mappingToPostalCodeGrid.py
  nextbike/prediction/__init__.py
  nextbike/prediction/numberTripyPerDay.py
  nextbike/prediction/tripDuration.py
  nextbike/visualization/visualize.py
  notebooks/Lorenz_Prediction.ipynb
  notebooks/MasterGuidelineNotebook.ipynb
  notebooks/dataExplorationJonas.ipynb
  notebooks/predictionJonas.ipynb
  setup.py
Labels: Feature Engineering, Visualization, description, prediction

#30 Prediction
  notebooks/Lorenz_Prediction.ipynb
Labels: enhancement

#31 Event heatmap
  nextbike/visualization/visualize.py
  notebooks/LorenzEvent.ipynb
Labels: Visualization
